<!DOCTYPE html>
<html>
<head>
    <title>Knot9ja Email</title>
    <style>
        body {
          font-family: 'Lora', serif;
          margin: 0;
          padding: 0;
          background-color: #ffffff;
        }
    </style>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center">
            <!-- Main Section Table -->
            <table border="0" cellpadding="0" cellspacing="0" style="background-color:#f5f5f5; text-align:center;"
                   width="600">
                <tr>
                    <td style="padding-top: 80px; padding-bottom: 80px;">
                        <h1 style="color:#5C6AC4; margin:0; font-size:48px;">Welcome to Knot9ja!</h1>
                        <p style="font-size:16px; margin:20px 0;">
                            You have subscribed to our waitlist.<br>
                            Stay tuned for more updates!
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0; padding-top:2rem;">
                        <!-- Full-width Image -->
                        <img alt="Knot9jaLogo"
                             src="https://assets.onecompiler.app/43ghsktb5/43ghsh5r3/Screenshot%202025-05-02%20091109.png"
                             style="width:100%; display:block; border:0;"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
